:root{
--azul principal: #0B4CCA;
--azul-hover: #0839A0;
    --azul-claro: #EEF4FF;
    --azul-borda: #B9CDF2;

    --ciano: #21A4D8;
    --verde: #75D13A;
    --laranja: #FE8B08;

    --bg-branco: #FFFFFF;
    --bg-secundario: #F7F9FF;

    --texto-escuro: #0A0F1E;
    --texto-cinza: #4B5675;
    --borda-suave: rg
}